.main-container {
    background: url('/assets/Food-background.jpg') no-repeat center center fixed;
    background-size: cover; 
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
  }
  
.form-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #45a049;
  }

  .error-message {
    color: red;
    font-size: 0.875em;
  }
  