.restaurant-list-container {
    background: url('/assets/Food-background.jpg') no-repeat center center fixed;
    background-size: cover; 
    min-height: 100vh;
    text-align: center;
    padding: 20px;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: left;
  }
  
  .card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .card p {
    margin: 5px 0;
  }

  .button-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  .btn-edit {
    background-color: #008CBA;
  }
  
  .btn-delete {
    background-color: #f44336;
  }
  
  